Repository gofiber/contrib, pull requests merged in 2022-01, with the labels that each got.

#55 Fix gosec test, update deps
  .github/workflows/security.yml
  .github/workflows/test.yml
  fiberzap/go.mod
  fiberzap/go.sum
  otelfiber/example/go.mod
  otelfiber/example/go.sum
  otelfiber/go.mod
  otelfiber/go.sum
  paseto/go.mod
  paseto/go.sum
Labels: 🤖 Dependencies, 🧹 Updates

#56 update otel
  otelfiber/README.md
  otelfiber/config.go
  otelfiber/example/server.go
  otelfiber/fiber.go
Labels: ✏️ Feature, 🧹 Updates

#60 fix spell refeer -> referer
  fiberzap/zap.go
Labels: ☢️ Bug

#59 add requestId
  fiberzap/zap.go
  fiberzap/zap_test.go
Labels: ✏️ Feature

#65 Swagger middleware added
  .github/dependabot.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  README.md
  swagger/README.md
  swagger/go.mod
  swagger/go.sum
  swagger/swagger.go
  swagger/swagger.json
  swagger/swagger_missing.json
  swagger/swagger_test.go
Labels: ✏️ Feature
