Repository gofiber/contrib, pull requests merged in 2023-08, with the labels that each got.

#700 otelfiber: Add custom attributes support
  otelfiber/README.md
  otelfiber/config.go
  otelfiber/otelfiber_test/fiber_test.go
  otelfiber/semconv.go
Labels: ✏️ Feature

#705 fiberzerolog: Use string for latency field
  fiberzerolog/config.go
  fiberzerolog/zerolog_test.go
Labels: 🧹 Updates

#718 fix(fiberi18n): use sync.Map and utils.CopyString to fix concurrent problem
  fiberi18n/config.go
  fiberi18n/i18n.go
Labels: ☢️ Bug
