Repository gofiber/contrib, pull requests merged in 2023-07, with the labels that each got.

#670 Refactor CI/CD workflows for all middlewares
  .github/workflows/golangci-lint.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/linter.yml
  .github/workflows/security.yml
  .github/workflows/test-casbin.yml
  .github/workflows/test-fiberi18n.yml
  .github/workflows/test-fibernewrelic.yml
  .github/workflows/test-fiberzap.yml
  .github/workflows/test-fiberzerlog.yml
  .github/workflows/test-jwt.yml
  .github/workflows/test-opafiber.yml
  .github/workflows/test-otelfiber.yml
  .github/workflows/test-paseto.yml
  .github/workflows/test-swagger.yml
  .github/workflows/test-websocket.yml
  .github/workflows/test.yml
  jwt/go.mod
  websocket/go.mod
Labels: 🧹 Updates

#671 :memo: docs: automated synchronization with `gofiber/docs`
  .github/scripts/sync_docs.sh
  .github/workflows/sync-docs.yml
Labels: 📒 Documentation

#674 fix sync_docs.sh script
  .github/scripts/sync_docs.sh
Labels: ☢️ Bug

#677 update READMEs
  README.md
  casbin/README.md
  fiberi18n/README.md
  fibernewrelic/README.md
  fibersentry/README.md
  fiberzap/README.md
  fiberzerolog/README.md
  jwt/README.md
  opafiber/README.md
  otelfiber/README.md
  otelfiber/example/README.md
  paseto/README.md
  swagger/README.md
  websocket/README.md
Labels: 🧹 Updates

#678 add logo for contrib repo
  .github/logo-dark.svg
  .github/logo.svg
  README.md
Labels: 📒 Documentation

#669 add unit test for websocket middleware
  websocket/go.mod
  websocket/go.sum
  websocket/websocket_test.go
Labels: ✏️ Feature, 🧹 Updates

#680 refactor: Update README with examples + Reduce complexity
  paseto/README.md
  paseto/config.go
  paseto/config_test.go
  paseto/helpers.go
  paseto/paseto.go
  paseto/paseto_test.go
  paseto/payload.go
Labels: 📒 Documentation, 🧹 Updates

#666 Fiberzap: Adapter for fiber/log
  fiberzap/README.md
  fiberzap/go.mod
  fiberzap/go.sum
  fiberzap/logger.go
  fiberzap/logger_test.go
Labels: ✏️ Feature

#681 add recover config & default recover handler & tests
  websocket/websocket.go
  websocket/websocket_test.go
Labels: ✏️ Feature

#697 update websocket readme about recover middleware
  websocket/README.md
Labels: 🧹 Updates

#657 OtelFiber: Use tracetest
  .github/workflows/test-otelfiber.yml
  otelfiber/README.md
  otelfiber/example/go.mod
  otelfiber/example/go.sum
  otelfiber/fiber.go
  otelfiber/go.mod
  otelfiber/go.sum
  otelfiber/otelfiber_test/fiber_test.go
  otelfiber/semconv.go
Labels: 🧹 Updates, ❗ BreakingChange
