Repository gofiber/contrib, pull requests merged in 2023-02, with the labels that each got.

#439 docs: Migrate the test badge to the new endpoint
  README.md
Labels: 📒 Documentation

#441 change newrelic fiber to group transaction metrics under the same route
  fibernewrelic/README.md
  fibernewrelic/fiber.go
  fibernewrelic/fiber_test.go
Labels: ☢️ Bug

#451 [otelfiber] Fixed incompatibility issues with new otel v1.12.0/v0.35.0 release
  otelfiber/fiber.go
  otelfiber/fiber_test.go
  otelfiber/go.mod
  otelfiber/go.sum
Labels: 🤖 Dependencies, 🧹 Updates

#475 fix linting
  .github/workflows/release-drafter.yml
Labels: ☢️ Bug

#476 Update README.md
  casbin/README.md
Labels: 📒 Documentation, 🧹 Updates

#477 add paths
  .github/release-drafter-casbin.yml
  .github/release-drafter-fibernewrelic.yml
  .github/release-drafter-fibersentry.yml
  .github/release-drafter-fiberzap.yml
  .github/release-drafter-opafiber.yml
  .github/release-drafter-otelfiber.yml
  .github/release-drafter-paseto.yml
  .github/release-drafter-swagger.yml
Labels: ✏️ Feature

#480 feat: add error status code handler
  fibernewrelic/README.md
  fibernewrelic/fiber.go
  fibernewrelic/fiber_test.go
Labels: ✏️ Feature
