Repository gofiber/contrib, pull requests merged in 2023-09, with the labels that each got.

#751 Add support for 1.21.x to workflows, update Fiber to v2.49.1
  .github/workflows/test-casbin.yml
  .github/workflows/test-fiberi18n.yml
  .github/workflows/test-fibernewrelic.yml
  .github/workflows/test-fibersentry.yml
  .github/workflows/test-fiberzap.yml
  .github/workflows/test-fiberzerolog.yml
  .github/workflows/test-jwt.yml
  .github/workflows/test-opafiber.yml
  .github/workflows/test-otelfiber.yml
  .github/workflows/test-paseto.yml
  .github/workflows/test-swagger.yml
  .github/workflows/test-websocket.yml
  casbin/go.mod
  casbin/go.sum
  fiberi18n/go.mod
  fiberi18n/go.sum
  fibernewrelic/go.mod
  fibernewrelic/go.sum
  fiberzap/go.mod
  fiberzap/go.sum
  fiberzerolog/go.mod
  fiberzerolog/go.sum
  jwt/go.mod
  jwt/go.sum
  opafiber/go.mod
  opafiber/go.sum
  otelfiber/example/go.mod
  otelfiber/example/go.sum
  otelfiber/go.mod
  otelfiber/go.sum
  paseto/go.mod
  paseto/go.sum
  swagger/go.mod
  swagger/go.sum
  websocket/go.mod
  websocket/go.sum
Labels: 🧹 Updates

#753 feat(fiberzap): Added 'FieldsFunc' to provide custom log fields
  fiberzap/README.md
  fiberzap/config.go
  fiberzap/zap.go
  fiberzap/zap_test.go
Labels: ✏️ Feature

#676 Making Websocket Local read-write
  websocket/websocket.go
Labels: 🧹 Updates

#768 feat: propagate newrelic tx info by using fiber.Ctx and little refact…
  fibernewrelic/README.md
  fibernewrelic/fiber.go
  fibernewrelic/fiber_test.go
Labels: ✏️ Feature

#788 Refactoring and fixes to Swagger Middleware
  swagger/README.md
  swagger/go.mod
  swagger/go.sum
  swagger/swagger.go
  swagger/swagger.yaml
  swagger/swagger_test.go
Labels: ☢️ Bug, ✏️ Feature

#769 fix: Increase the judgment of type strong rotation
  fiberi18n/i18n.go
Labels: ☢️ Bug
