Repository gofiber/contrib, pull requests merged in 2024-07, with the labels that each got.

#1148 [feature] fibernewrelic add skip middleware next function.
  fibernewrelic/README.md
  fibernewrelic/fiber.go
  fibernewrelic/fiber_test.go
Labels: ✏️ Feature

#1120 Otel : Don't read response body size if the content-type is text/event-stream
  otelfiber/fiber.go
Labels: 🧹 Updates

#1157 Fix display bug
  socketio/README.md
Labels: ☢️ Bug

#1159 otelfiber: add WithCustomMetricAttrbutes option
  otelfiber/README.md
  otelfiber/config.go
  otelfiber/fiber.go
  otelfiber/otelfiber_test/fiber_test.go
  otelfiber/semconv.go
Labels: ✏️ Feature
