Repository gofiber/contrib, pull requests merged in 2024-05, with the labels that each got.

#1096 docs: fix casbin adapter documentation url
  casbin/README.md
Labels: ☢️ Bug, 📒 Documentation

#1101 docs(readme): used `fmt.Printf` instead of `fmt.Println(fmt.Sprintf(.…
  socketio/README.md
Labels: 📒 Documentation

#1103 SocketIO: Add optional websocket.Config param
  socketio/README.md
  socketio/socketio.go
Labels: ✏️ Feature
