Repository gofiber/contrib, pull requests merged in 2024-02, with the labels that each got.

#848 [Feature]: otelfiber - propagate tracing context as headers in outbound response
  otelfiber/fiber.go
  otelfiber/otelfiber_test/fiber_test.go
Labels: ✏️ Feature, 💡 Help wanted, ♻ Wait for Response

#956 Transfer socketio middleware to contrib
  .github/dependabot.yml
  .github/release-drafter-socketio.yml
  .github/workflows/release-drafter-socketio.yml
  .github/workflows/test-socketio.yml
  README.md
  socketio/README.md
  socketio/go.mod
  socketio/go.sum
  socketio/socketio.go
  socketio/socketio_test.go
Labels: ✏️ Feature

#965 Improve Dict log for reqHeaders & resHeaders
  fiberzerolog/README.md
  fiberzerolog/config.go
  fiberzerolog/zerolog_test.go
Labels: 🧹 Updates
