Repository gofiber/contrib, pull requests merged in 2024-03, with the labels that each got.

#995 Option using fields in snake_case.
  fiberzerolog/README.md
  fiberzerolog/config.go
  fiberzerolog/zerolog_test.go
Labels: 🧹 Updates

#1030 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: 📒 Documentation

#1031 Update Swagger middleware documentation
  swagger/README.md
Labels: 📒 Documentation

#1033 [otelfiber] Allow for disabling client IP collection in traces
  otelfiber/README.md
  otelfiber/config.go
  otelfiber/fiber.go
  otelfiber/otelfiber_test/fiber_test.go
  otelfiber/semconv.go
Labels: ✏️ Feature
